


.bg{
    background-color: aliceblue;
}

ul{
    text-align: center;
}
.dropdown .dropdown-menu{
    display: none;
    
}
.dropdown:hover > .dropdown-menu ,.dropend:hover > .dropdown-menu{
    display: block;
    margin-top: .125rem;  
}

.dropend{
    margin-left: .125rem;
}

@media screen and (min-width:796px) {
    .dropend:hover > .dropdown-menu{
        position: absolute;
        top: 0;
        left: 100%;
        margin-left: .125rem;
    }
   
}
.dropdown-toggle:hover{
    color: white;
}
.a{
    color: white;
}

.DADM{
    background-image:url("https://png.pngtree.com/background/20230513/original/pngtree-small-boy-playing-soccer-on-an-indoor-field-picture-image_2504621.jpg");
    background-color: aliceblue;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    align-items: center;
    
}
.content{
    color: aliceblue;
    text-align: center;

}
.buttonEnqiery{
    padding: 20px;
    color: white;
    background-color: grey;
    border-radius: 0%;
    border: none;
    font-size: 15px;
}
.aboutus{
padding: 100px;
background-size: 100% 100%;
}


.great-ideas{
    background-image:url("https://www.shutterstock.com/image-photo/image-statistics-data-processing-over-260nw-2418192641.jpg");
    background-color: aliceblue;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: luminosity;
    min-height: 40vh;

    padding: 100px;
    
}
.ideas-content{
    color: white;
   
}
.Service-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px;


}

.service{
    margin-top: 50px;
    
}
.YS{
    background-image: url("https://images.pexels.com/photos/1181271/pexels-photo-1181271.jpeg?cs=srgb&dl=pexels-divinetechygirl-1181271.jpg&fm=jpg");
    background-color: aliceblue;
    background-size: 100% ;
    background-repeat: no-repeat;
    min-height: 30vh;
    background-blend-mode:multiply;
    margin-bottom: 50px;


}
.your-story-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.your-story-1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.FF{
    border: 1px solid black;
}
.FF-BOX{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.FF-LB{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer{
    background-color:bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.footer-items > a{
    text-decoration: none;
    color: black;
}
.footer-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}