


.bg{
    background-color: aliceblue;
}

ul{
    text-align: center;
}
.dropdown .dropdown-menu{
    display: none;
    
}
.dropdown:hover > .dropdown-menu ,.dropend:hover > .dropdown-menu{
    display: block;
    margin-top: .125rem;  
}

.dropend{
    margin-left: .125rem;
}

@media screen and (min-width:796px) {
    .dropend:hover > .dropdown-menu{
        position: absolute;
        top: 0;
        left: 100%;
        margin-left: .125rem;
    }
   
}
.dropdown-toggle:hover{
    color: white;
}
.a{
    color: white;
}

.DADM{
    background-image:url("https://png.pngtree.com/background/20230513/original/pngtree-small-boy-playing-soccer-on-an-indoor-field-picture-image_2504621.jpg");
    background-color: aliceblue;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    align-items: center;
    
}


.content{
    color: aliceblue;
    text-align: center;

}

 

.buttonEnqiery{
    padding: 20px;
    color: white;
    background-color: grey;
    border-radius: 0%;
    border: none;
    font-size: 15px;
}
.aboutus{
padding: 100px;
background-size: 100% 100%;
}

.GD{
    background-image:url("https://w7.pngwing.com/pngs/337/50/png-transparent-mac-book-pro-macbook-air-computer-keyboard-laptop-book-top-view-electronic-device-apple-multimedia.png");
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height:  80vh;
    

}
@media (max-width:786px) {
    .GD{
        min-height: 70vh;
       

    }
  
}